{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT ME</title>
    <link rel="stylesheet" href="{% static 'styles/about.css' %}">
</head>
<body>
    <nav class="navbar">
        <a href="{% url 'about' %}">ОБО МНЕ</a>
        <a href="{% url 'contact' %}">CONTACT</a>
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'main/logo.png' %}" alt="Logo">
            </a>
        </div>
        <a href="{% url 'code' %}">ВВЕСТИ КОД</a>
        <a href="{% url 'portfolio' %}">ПОРТФОЛИО</a>
    </nav>
    <div class="content">
        <h1>ОБО МНЕ</h1>
        <p>Приветствую тебя на моем сайте-визитке! <br>
            Меня зовут Илья, мне просто нравится программировать. У меня нет образования в сфере IT, но я учусь и стремлюсь улучшать свой код в каждом моем проекте!<br><br>
            Так же вы можете глянуть мои работы в портфолио.
        </p>
    </div>
</body>
</html>
