{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CODE</title>
    <link rel="stylesheet" href="{% static 'styles/code.css' %}">
</head>
<body>
    <nav class="navbar">
        <a href="{% url 'about' %}">ОБО МНЕ</a>
        <a href="{% url 'contact' %}">CONTACT</a>
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'main/logo.png' %}" alt="Logo">
            </a>
        </div>
        <a href="{% url 'code' %}">ВВЕСТИ КОД</a>
        <a href="{% url 'portfolio' %}">ПОРТФОЛИО</a>
    </nav>
    <div class="content">
        <div class="input-container">
            <input type="text" placeholder="Введите код . . .">
            <button>Отправить</button>
        </div>
    </div>
</body>
</html>
