{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
</head>
<body>
    <div class="social-icons">
        <a href="https://t.me/pijawca">
            <img src="{% static 'main/telegram.png' %}" alt="Telegram">
        </a>
        <a href="https://github.com/pijawca">
            <img src="{% static 'main/github.png' %}" alt="GitHub">
        </a>
        <a href="https://lolz.live/pijawca">
            <img src="{% static 'main/zelenka.png' %}" alt="Zelenka">
        </a>
    </div>
    <div class="logo">
        <img src="{% static 'main/logo.png' %}" alt="Logo">
    </div>
    <nav class="navbar">
        <a href="{% url 'about' %}">ОБО МНЕ</a>
        <a href="{% url 'contact' %}">CONTACT</a>
        <a href="{% url 'code' %}">ВВЕСТИ КОД</a>
        <a href="{% url 'portfolio' %}">ПОРТФОЛИО</a>
    </nav>
</body>
</html>
