{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>devpijawca</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="menu">
            <a href="#" class="menu-item">CODE</a>
            <span class="separator">X</span>
            <a href="{% url 'shop' %}" class="menu-item">SHOP</a>
        </div>
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Logo">
        </div>
        <div class="social-links">
            <a href="https://t.me/pijawca" target="telegram">
                <img src="{% static 'images/telegram.png' %}" alt="Telegram">
            </a>
            <a href="https://t.me/pijawcatoday" target="channel telegram">
                <img src="{% static 'images/telegram.png' %}" alt="Channel Telegram">
            </a>
            <a href="https://github.com/pijawca" target="github">
                <img src="{% static 'images/github.png' %}" alt="Github">
            </a>
        </div>
    </div>
</body>
</html>
