{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ПОРТФОЛИО</title>
    <link rel="stylesheet" href="{% static 'styles/portfolio.css' %}">
</head>
<body>
    <nav class="navbar">
        <a href="{% url 'about' %}">ОБО МНЕ</a>
        <a href="{% url 'contact' %}">CONTACT</a>
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'main/logo.png' %}" alt="Logo">
            </a>
        </div>
        <a href="{% url 'code' %}">CODE</a>
        <a href="{% url 'portfolio' %}">ПОРТФОЛИО</a>
    </nav>
    <div class="content">
        <div class="portfolio">
            <div class="portfolio-item">
                <div class="slider">
                    <div class="slides">
                        <div class="slide">
                            <img src="{% static 'main/portfolio1.jpg' %}" onclick="openModal(this)">
                        </div>
                        <div class="slide">
                            <img src="{% static 'main/portfolio1_2.jpg' %}" onclick="openModal(this)">
                        </div>
                    </div>
                    <button class="prev" onclick="plusSlides(-1, 0)">&#10094;</button>
                    <button class="next" onclick="plusSlides(1, 0)">&#10095;</button>
                </div>
                <h3>pijawcabot</h3>
                <div class="githubin">
                    <p><img src="{% static 'main/github.png' %}" alt="githubin"><a href="https://github.com/pijawca/docker-pijawcabot"> Ссылка на репозиторий</a></p>
                </div>
                <p>Телеграм бот на либе aiogram, postgresql, docker. <br>
                    Бот предназначен для автоматизации моих потребностей, аля BotFather для моих ботов.
                </p>
            </div>
            <div class="portfolio-item">
                <div class="slider">
                    <div class="slides">
                        <div class="slide">
                            <img src="{% static 'main/portfolio2.jpg' %}" onclick="openModal(this)">
                        </div>
                        <div class="slide">
                            <img src="{% static 'main/portfolio2_1.jpg' %}" onclick="openModal(this)">
                        </div>
                    </div>
                    <button class="prev" onclick="plusSlides(-1, 1)">&#10094;</button>
                    <button class="next" onclick="plusSlides(1, 1)">&#10095;</button>
                </div>
                <h3>pijawcacast</h3>
                <div class="githubin">
                    <p><img src="{% static 'main/github.png' %}" alt="githubin"><a href="https://github.com/pijawca/docker-pijawcacast"> Ссылка на репозиторий</a></p>
                </div>
                <p>Дискорд бот на либе disnake, postgresql, docker. <br>
                    Бот использует статистику по играм dota парсит игры и показывает статистику по последнему матчу для каждого игрока который прошел регистрацию на сайте opendota
                </p>
            </div>
            <div class="portfolio-item">
                <div class="slider">
                    <div class="slides">
                        <div class="slide">
                            <img src="{% static 'main/portfolio3.jpg' %}" onclick="openModal(this)">
                        </div>
                    </div>
                </div>
                <h3>claimbidbot</h3>
                <div class="githubin">
                    <p><img src="{% static 'main/github.png' %}" alt="githubin"><a href="https://github.com/pijawca/claimbidbot"> Ссылка на репозиторий</a></p>
                </div>
                <p>Гемблинг бот на платформе Twitch<br>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal">
        <span class="close" onclick="closeModal()">&times;</span>
        <button class="modal-prev" onclick="plusModalSlides(-1)">&#10094;</button>
        <button class="modal-next" onclick="plusModalSlides(1)">&#10095;</button>
        <div class="modal-content">
            <img id="modalImg" src="">
        </div>
    </div>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
